doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title TMProject
    body
        nav
            div
                a(href='/TMProject/Project?id='+projectID+'&user='+encodedUsername) ⬅︎ cancel
        .formula
            form(method='POST', action="/TMProject/AddTask?id="+projectID+"&user="+encodedUsername)
                h1 Add Task
                label(for="name") task name :
                input(type='text', id="name", name="name", placeholder="new task", required)
                br
                label(for="deadline") deadline :
                input(type='date', id="deadline", name="deadline", required)
                br
                label(for="time") time you need (hours):
                input(type='double', id="time", name="time",placeholder="time estimation", min="0.0", required)
                br
                label(for="time") priority (1-10) :
                input(type='int', id="prio", name="prio",placeholder="priority", min="1", max="10", required)
                br
                label(for="responsiblePerson") username of Responsible Person:
                input(type='text', id="responsiblePerson", name="responsiblePerson", placeholder="responsible Person")
                br
                input(type="submit" value="submit", class="submit")
style.
    @import url(https://fonts.googleapis.com/css?family=Roboto:300);
    html,
    body {
        min-height: 100%;
    }
    body {
        font-family: "Roboto", sans-serif;
        color: white;
        background: rgb(115, 194, 251);
        background: linear-gradient(rgba(115, 194, 251, 1) 5%, rgba(178, 221, 233, 1) 100%);
        display: flex;
        flex-flow: column;
    }
    nav {
        display: flex;
        background-color:
                rgb(105, 191, 252);
        color: #fff;
        height: 50px;
        width: 100%;
        box-shadow: 1px 1px 10px rgb(100, 100, 100);
        border-radius: 7px;
    }
    nav div {
        display: flex;
        width: 100%;
        padding: 15px;
        align-items: center;
        justify-content: space-between;
    }
    nav div a {
        text-decoration: none;
        color: white;
    }
    nav div a:hover {
        transition: 0.5s ease;
        transform: scale(1.25);
        text-shadow: 0 0 5px gray;
    }
    .formula {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
        text-shadow: 0 1.5px 5px gray;
        margin-top: 20px;
    }
    .tutorial {
        text-align: center;
        margin-top: -17px;
    }
    form {
        width: 35vh;
        padding: 20px;
        border-radius: 10px;
        background-color: rgb(185, 225, 254);
        box-shadow: 1px 5px 20px -4px rgb(174, 174, 174);
        display: flex;
        align-items: center;
        flex-flow: column;
    }
    label {
        display: flex;
        margin: 10px;
        font-weight: bold;
    }
    input {
        width: 25vh;
        height: 2.5vh;
        margin-bottom: 15px;
        border-radius: 5px;
    }
    .memberInvite {
        font-weight: bold;
    }
    .invite {
        margin-top: -5px;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .submit:hover {
        transition: 0.5s ease;
        transform: scale(1.1);
        text-shadow: 0 0 5px gray;
        box-shadow: 1px 5px 20px -4px rgb(174, 174, 174);
        background-color: rgb(115, 194, 251);
    }